html {
    overflow-y: scroll;
}
/* - Stats - */
.stats_pages {
    font-size: 10pt;
}
.stats_pages table tr,.stats_pages table th,.stats_pages table td {
    font-size: 9pt;
}
/* - Supporter - */
.donation_notice {
    background-color: #3f3f3f;
    padding: 6px;
    border-radius: 3px;
}
.donation_notice input[type="submit"] {
    background-color: #4f4f4f;
    padding: 5px 9px;
    margin: 5px;
    width: 240px;
    border: none;
    border-radius: 3px;
    font-size: 10pt;
    cursor: pointer;
    color: #77ff77;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13pt;
}
.donation_notice input[type="submit"]:hover {
    background-color: #5f5f5f;
    box-shadow: 2px 2px 4px #2f2f2f;
    text-shadow: 0 0 6px #77ff77;
}
.supporter_info {
    background-color: #3f3f3f;
    padding: 8px 12px;
    border-radius: 3px;
    position: relative;
    height: 57px;
}
.wf-opensans-n4-active .supporter_info {
    font-family: 'Open Sans';
}
.supporter_info h2 {
    padding: 0;
    margin: 0;
}
.supporter_info .supporter_occupation {
    font-size: 11pt;
    padding-left: 10px;
    font-weight: bold;
}
.supporter_info .user_banner {
    position: absolute;
    top: 8px;
    right: 12px;
}
.supporter_info .user_banner img {
    vertical-align: top;
}
.supporter_list_box {
    background-color: #3f3f3f;
    padding-top: 6px;
    padding-left: 6px;
    border-radius: 3px;
}
.supporter {
    background-color: #4f4f4f;
    /*background-image: url(/images/Anxiety.png);*/
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 9px;
    /*padding-left: 266px;*/
    margin-bottom: 6px;
    margin-right: 6px;
    width: 240px;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    border-radius: 3px;
    font-size: 10pt;
    cursor: pointer;
    float: left;
}
.supporter strong {
    font-weight: 400;
}
.supporter span {
    color: #cfcfcf;
    font-size: 9pt;
}
.supporter.sup-active {
    background-color: #f0f0f0;
    color: #3f3f3f;
    box-shadow: 0 0 5px #f0f0f0;
}
.supporter.sup-active span {
    color: #858585;
}
.wf-opensans-n3-active .supporter {
    font-family: 'Open Sans';
    font-weight: 300;
}
.supporter_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sup-hover {
    background-color: #5f5f5f;
    box-shadow: 2px 2px 4px #2f2f2f;
}
/* - Heading BG - */
.headline_bg {
    position: absolute;
    top: 0px;
    height: 95px;
    width: 100%;
    background-color: #4F4F4F;
    border-bottom: 25px solid #3F3F3F;
}
/* - Theme Picker - */
.themepicker {
    position: absolute;
    top: 135px;
    right: 50%;
    margin-right: 500px;
    text-align: right;
}
.themepicker ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.themepicker li {
    margin-bottom: 4px;
    width: 20px;
    height: 15px;
}
.themepicker li:last-of-type {
    margin: 0;
}
.themepicker li a {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-decoration: none;
    color: white;
}
.themepicker li a.selected {
    width: 20px;
}
/* - Wrapper - */
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.shadow {
    position: fixed;
    width: 1000px;
    left: 50%;
    height: 100%;
    margin: 0 auto;
    margin-left: -500px;
    box-shadow: 0 0 20px black;
}
/* - Social Bookmarks - */
.socialbookmarks {
    position: absolute;
    top: 135px;
    left: 50%;
    margin-left: 500px;
    max-width: 110px;
    text-align: left;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #3f3f3f;
}
.socialbookmarks a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* - Footerbar - */
.footerbar {
    position: fixed;
    bottom: 0px;
    background-color: #111111;
    opacity: 0.3;
    /*background-image: url(/images/40.0_black.png);*/
    color: #eeeeee;
    padding: 0px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 15px #111111;
}
.footerbar .footerbar-inner {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.footerbar .more {
	float: right;
}
.footerbar a, .footerbar a:active, .footerbar a:visited {
    color: #c9f8f8;
    text-decoration: none;
}
.footerbar ul {
    padding: 0;
	margin: 0;
    list-style: none;
}
.footerbar ul li {
    padding: 4px 9px;
    border-left: 1px solid #353535;
    margin: 0;
    float: left;
}
.footerbar ul li:first-of-type {
    border: 0;
}
.footerbar ul li.foot-hover {
    background-color: white;
    color: black;
    border-left: 1px solid white;
    box-shadow: 0 0 7px white;
}
.footerbar .addthis_toolbox {
	padding: 5px;
	padding-bottom: 0;
}
.foot-hover a, .foot-hover a:active, .foot-hover a:visited {
    color: #a31d1d;
}
/* - Widgets - */
.widget-right {
    display: none;
}
/* - Minecraft History - */
.minecrafthistory {
    position: absolute;
    top: 135px;
    left: 50%;
    margin-left: 500px;
    text-align: left;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #3f3f3f;
    color: #dfaa58;
}
.minecrafthistory a {
    text-decoration: none;
    color: #dfaa58;
}
.minecrafthistory hr {
    margin: 0;
    border: 0;
    border-bottom: 2px solid #bdbdbd;
}
.minecrafthistory strong {
    color: #91de30;
}