/* ------------------------------------
    Base DOM Element styles
------------------------------------ */
/*@import url(http://fonts.googleapis.com/css?family=Patrick+Hand|Terminal+Dosis+Light);*/
body {
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-size: 14px;
    height: 100%;
    padding: 0px;
    margin: 0px auto;
    /*background-color: #222222;*/
    background: url(/images/px_by_Gre3g.png) #222222;
    color: #f9fbf8;
    font-size: 13px;
}
.wf-opensans-n4-active body {
    font-family: 'Open Sans';
    font-weight: 400;
}
html {
    /*background-color: #222222;*/
    height: 100%;
    width: 100%;
}
h1 {
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-size: 28px;
    padding: 0px;
    margin: 6px;
    color: #ffffff;
    font-weight: 300;
}
.wf-opensans-n3-active h1 {
    font-family: 'Open Sans';
    font-size: 28px;
}
h2 {
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 6px;
    color: #ffffff;
    font-weight: 300;
}
.wf-opensans-n3-active h2 {
    font-family: 'Open Sans';
    font-size: 20px;
}
br.clear {
    clear: both;
}

/* ------------------------------------
    Heading
------------------------------------ */
.headline {
    position: relative;
    background-color: #fbfbfb;
    background-image: url(/images/headingbg4.jpg);
    height: 95px;
    padding-left: 200px;
    padding-top: 0px;
    color: #3F3F3F;
    z-index: 4;
}
.headline h1 {
    margin: 0px;
    color: #2F2F2F;
}
.headline a {
    color: #d834bb;
    font-weight: bold;
    text-decoration: none;
}
.headline a:hover {
    text-decoration: underline;
}
.headline .stats {
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
}
.wf-opensans-n4-active .headline .stats {
    font-family: 'Open Sans';
}
.headline .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 180px;
    background-image: url(/images/mirrorlogo4.png);
    z-index: 5;
}
.headline .mchistory {
    position: absolute;
    top: 3px;
    right: 3px;
    border: 0px;
}
.headline .languages {
    position: absolute;
    top: 3px;
    right: 3px;
    background-image: url(/images/40.0_black.png);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px 7px 3px 7px;
    height: 11px;
}
.headline .languages img {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}
/* ------------------------------------
    Contents
------------------------------------ */
.contentwrapper {
    position: absolute;
    top: 120px;
    width: 1000px;
}
.contentbackground {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 822px;
    background-color: #333333;
    border-left: 178px solid #444444;
}
/* ------------------------------------
    Navigation
------------------------------------ */
.navigation {
    position: relative;
    background-color: #f48cb1;
    height: 25px;
    padding-left: 200px;
    z-index: 2;
}
.navigation .gplusone {
    position: absolute;
    right: 0px;
    top: 5px;
}
.navigation ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.navigation ul li {
    float: left;
    height: 25px;
    margin: 0px;
    padding: 0px;
}
.navigation ul li a, .navigation ul li a:active, .navigation ul li a:visited {
    position: relative;
    display: block;
    height: 19px;
    padding: 3px 12px 3px 35px;
    font-size: 14px;
    color: #3F3F3F;
    background-color: #f48cb1;
    background-image: url(/images/folder.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    text-decoration: none;
    z-index: 2;
}
.wf-opensans-n4-active .navigation ul li a, .wf-opensans-n4-active .navigation ul li a:active, .wf-opensans-n4-active .navigation ul li a:visited {
    /*font-size: 17px;*/
    font-family: 'Open Sans';
}
.navigation ul li a:hover {
    background-color: #c35690;
}
.navigation ul li a.active {
    background-color: #f9fbf8;
}
.navigation ul li a.supporters {
    background-image: url(/images/heart.png);
}
.navigation ul li a.search {
    background-image: url(/images/magnifier.png);
}
.navigation ul li a.maps {
    background-image: url(/images/note.png);
}
.navigation br {
    clear: both;
}

/* ------------------------------------
    Left Panel
------------------------------------ */
.leftpanel {
    width: 178px;
    float: left;
    min-height: 390px;
    padding-top: 60px;
}
.leftpanel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.leftpanel ul li {
    height: 20px;
    margin: 0px;
    padding: 0px;
}
.leftpanel a {
    position: relative;
    display: block;
    height: 17px;
    width: 115px;
    padding: 2px 10px 1px 53px;
    font-size: 11px;
    /*font-family: 'Comic Sans MS', cursive;*/
    color: white;
    background-color: #444444;
    background-image: url(/images/folder.png);
    background-repeat: no-repeat;
    background-position: 30px center;
    text-decoration: none;
    z-index: 2;
    overflow: hidden;
}
.wf-opensans-n4-active .leftpanel a {
    /*font-size: 14px;*/
    font-family: 'Open Sans';
}
.leftpanel ul li a {
    background-image: url(/images/package_green.png);
}
.leftpanel a:hover {
    background-color: #555555;
}
.leftpanel a.active {
    background-color: #5f5f5f;
}
.leftpanel a#sectionButton {
    background-color: #4f4f4f;
    background-image: url(/images/database.png);
    padding: 2px 10px 1px 33px;
    background-position: 10px center;
    width: 135px;
}
.leftpanel a#subSectionButton {
    background-color: #555555;
    padding: 2px 10px 1px 43px;
    background-position: 20px center;
    width: 125px;
}
.leftpanel .activesection {
    background-color: #666666 !important;
}
.leftpanel .downloaded {
    background-image: url(/images/tick.png);
}
.leftpanel a strong {
    color: #f9fbf8;
}
.leftpanel #packSection, .leftpanel #packBlockSection {
    display: none;
}
.leftpanel .info {
    margin: 3px;
    padding: 4px;
    background: #555555;
}
.wf-opensans-n4-active .leftpanel .info {
    font-family: 'Open Sans';
}

/* ------------------------------------
    Content Body
------------------------------------ */
.contentbody {
    padding: 12px;
    width: 798px;
    float: left;
    font-size: 15px;
    margin-bottom: 40px;
}
.contentbody .disclaimer {
    font-size: 12px;
}
.wf-opensans-n4-active .contentbody {
    font-family: 'Open Sans';
    /*font-size: 18px;*/
}
.contentbody h1 {
    padding-left: 48px;
    background-image: url(/images/Package_h1_2.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.contentbody h1 strong {
    color: #f9fbf8;
    /*font-family: 'Comic Sans MS', cursive;*/
}
.wf-opensans-n4-active .contentbody h1 strong {
    font-family: 'open sans';
}
.contentbody #packTitle {
    background: #555555;
    padding: 2px;
    margin-bottom: 5px;
}
.contentbody .downloadbutton {
    padding-left: 52px !important;
    background-image: url(/images/downloadbt.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}
.contentbody .copybutton {
    padding-left: 52px !important;
    background-image: url(/images/copybt.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}
/* - Beatmap Packs */
.contentbody #packActions {
    background: #444444;
    padding: 0px;
    margin-bottom: 5px;
}
.contentbody #packActions a {
    display: inline-block;
    padding: 6px 10px;
    margin: 2px 0px 2px 2px;
    background-color: #555555;
    text-decoration: none;
    color: #ffffff;
    /*font-family: 'Comic Sans MS', cursive;*/
    font-size: 16px;
}
.wf-opensans-n4-active #packActions a {
    font-family: 'open sans';
    font-size: 18px;
}
.contentbody #packActions a:hover, .contentbody #packActions a.hover {
    color: #000000;
    background-color: #eeeeee;
}
.contentbody #packInfo {
    background: #555555;
    padding: 10px;
    margin-bottom: 5px;
}
.contentbody #packInfo a, .contentbody #packInfo a:active, .contentbody #packInfo a:visited {
    text-decoration: none;
    color: #ffb24e;
}
.contentbody #packInfo a:hover {
    text-decoration: underline;
}
.contentbody #packInfoTemplate {
    background: #555555;
    padding: 10px;
    margin-bottom: 5px;
    display: none;
}
.contentbody .infobar {
    padding: 8px 8px 8px 90px;
    background-image: url(/images/info64.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    height: 64px;
}
.contentbody .maplist {
    background-image: url(/images/Stickies.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.contentbody .maplist table {
    background-color: #454545;
    width: 100%;
    border-spacing: 0px;
    font-size: 14px;
}
.contentbody .maplist thead tr {
    background-color: #333333;
}
.contentbody .maplist td, .contentbody .maplist th {
    padding: 4px;
}
.contentbody .maplist tbody tr.hover {
    background-color: #eeeeee !important;
    color: #000000 !important;
    cursor: pointer;
}
.contentbody .maplist tbody tr.even {
    background-color: #505050;
}
.contentbody .maplist tbody tr td:first-child {
    color: #818181;
    font-weight: 500;
    background-color: #353535;
}
.contentbody .maplist tbody tr.even td:first-child {
    background-color: #404040;
}
.contentbody table.noformat {
    border: 0px;
    border-spacing: 0px;
    width: 100%;
}
.contentbody table.noformat tr {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.contentbody table.noformat tr td,.contentbody table.noformat tr th {
    padding: 3px;
    margin: 0px;
    text-align: left;
}
/* - Search - */
.contentbody #searchBar {
    background-color: #555555;
    background-image: url(/images/search.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 74px;
    position: relative;
    height: 74px;
    margin-bottom: 5px;
}
.contentbody #searchBar input {
    width: 693px;
    height: 56px;
    padding: 8px 12px;
    margin: 0px;
    background-color: #666666;
    color: #ffffff;
    /*font-family: 'Comic Sans MS', cursive;*/
    border: 1px solid #777777;
    font-size: 36px;
}
.wf-opensans-n4-active .contentbody #searchBar input {
    font-family: 'open sans';
    font-size: 36px;
}
.contentbody #searchResult {
    background-color: #555555;
    background-image: url(/images/note.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 26px;
    position: relative;
    /*height: 26px;*/
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}
.contentbody .packresult {
    background: #3f3f3f !important;
    text-align: right;
    font-size: 12px;
    padding: 2px !important;
    padding-right: 25px !important;
    margin-top: -5px;
}
.contentbody #searchResult:hover {
    background-color: #eeeeee !important;
    color: #000000;
}
.contentbody #errorMessage {
    background-color: #884444;
    background-image: url(/images/note.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 26px;
    position: relative;
    height: 26px;
    margin-bottom: 5px;
    color: #ffffff;
}

/* ------------------------------------
    Other
------------------------------------ */
.noscriptOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(/images/noscriptbg.png);
    z-index: 10;
}
.noscriptBox {
    position: absolute;
    width: 400px;
    height: 100px;
    padding: 30px;
    padding-left: 148px;
    background-color: white;
    background-image: url(/images/iWeb.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -282px;
    margin-top: -80px;    
}