@font-face
{
	font-family: Segoe UI Light;
	src:  local(Segoe UI Light), url(segoeuil.ttf) format("truetype");
}
body {
    background: #353535 url(bg.jpg) 85px 0px repeat-x;
    color: white;
    font-family: verdana, arial;
    font-size: 13px;
    margin-top: 100px;
	margin-bottom: 100px;
}
a, a:visited, a:active {
    color: white;
    text-decoration: none;
    background: black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 6px;
    margin: 3px;
    width: 200px;
    display: inline-block;
    border: 1px solid #808080;
    font-family: Segoe UI;
    text-align: center;
}
a:hover {
    border: 1px solid red;
}
a span {
    color: #A9A9A9;
}
a.highlight {
	border: 1px solid #44FF44;
	background: #004000;
}
a.downloaded {
	border: 1px solid #44FF44;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
li.themebutton {
	float: left;
	padding: 5px 12px;
	background: black;
	border: 1px solid white;
	color: #FF8C00;
	margin: 3px;
}
li.activebt {
	border: 1px solid #44FF44;
	background: #004000;
}
div.themebody {
	display: none;
}
input {
    color: white;
    text-decoration: none;
    background: black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 6px;
    margin: 3px;
    display: inline-block;
    border: 1px solid #808080;
    font-family: Segoe UI;
    text-align: center;
}

div.h {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    padding-left: 120px;
    background: #006400 url(hbg.jpg) left top no-repeat;
    border-bottom: 3px solid #FFA500;
}
div.h div.topright {
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: right;
}
div.h img.h {
    position: fixed;
    left: 12px;
    top: 12px;
    width: 80px;
    height: 60px;
}
div.h h1 {
    font-family: Segoe UI Light;
    padding: 0px;
    margin: 0px;
}
div.h p {
    padding: 0px;
    margin: 2px;
    font-size: 8pt;
}
div.backbutton {
    position: fixed;
    top: 100px;
    right: 10px;
}
h2 {
    font-family: Segoe UI Light;
    color: #FF8C00;
}
h3 {
    font-family: Segoe UI Light;
	font-weight: normal;
    color: #fff;
}
span.o {
    color: #FF8C00;
}
br.clear {
	clear: both;
}