<div class="stats-menu">
    <ul>
        <li><a href="/stats/livedownloads">Downloads</a></li>
        <li><a href="/stats/mirrors">Mirrors</a></li>
        <li><a href="/stats/dltester">DDL Tester</a></li>
    </ul>
</div>